# Telegram Bot Token (получен от @BotFather)
BOT_TOKEN=

# Telegram ID администраторов через запятую
ADMIN_IDS=

# (Опционально) Groq API ключ с console.groq.com для ультрабыстрого (до 0.5с) Whisper-Large-v3
# Если не указан, используется бесплатная локальная модель Faster-Whisper
GROQ_API_KEY=
